*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#fff;
}

/* HEADER */

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  border-bottom:1px solid #ddd;
}

.logo{
  font-size:26px;
  font-weight:bold;
  color:#ff385c;
}

.search-box{
  display:flex;
  gap:20px;
  align-items:center;
  border:1px solid #ddd;
  padding:10px 18px;
  border-radius:30px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.search-box span{
  font-size:14px;
  color:#555;
}

.search-box button{
  background:#ff385c;
  border:none;
  color:white;
  padding:6px 10px;
  border-radius:50%;
  cursor:pointer;
}

/* MAIN */

.container{
  padding:30px 40px;
}

.container h2{
  margin-bottom:15px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:12px;
}

.card h4{
  margin-top:8px;
  font-size:14px;
}

.card p{
  font-size:13px;
  color:#444;
}

.card span{
  font-size:12px;
  color:#777;
}

/* RESPONSIVE */

@media(max-width:768px){
  .header,.container{
    padding:15px;
  }
}
